{% extends "base.html" %}

{% block content %}

<main class="leaderboard-container">
    <div class="container">
        <h1 class ="text-centre bangers-font mb-5" style="color: var(--golden); font-size: 60px;">CAMPUS LEGENDS</h1>

        <div class="Top-three"> 
            <div class="rank-card rank-1">
                <div class="h2 bangers-font" style="color: #ffd700;">#1</div>
                <div class="fw-bold">Tep Nguyen</div>
                <div class="text-muted small">15,200 pts</div>
            </div>

            <div class="rank-card rank-2">
                <div class="h3 bangers-font">#2</div>
                <div class="fw-bold">Etienne Vinton Horn</div>
                <div class="text-muted small">12,450 pts</div>
            </div>
            
            <div class="rank-card rank-3">
                <div class="h3 bangers-font">#3</div>
                <div class="fw-bold">Janee Pandithasekara</div>
                <div class="text-muted small">11,800 pts</div>
            </div>
        </div>

        <div class="leaderboard-table">
            <table class="table table-hover table-dark mb-0">
                <tbody>
                    <tr>
                        <td class="ps-4 fw-bold">#4</td>
                        <td class="fw-bold" style="color: var(--golden);">Mathew Nedumpurath Tomy</td>
                        <td class="text-end pe-4">10,100 pts</td>
                    </tr>
                    <tr><td class="ps-4">#5</td><td>Player 52</td><td class="text-end pe-4">9,850 pts</td></tr>
                    <tr><td class="ps-4">#6</td><td>Player 36</td><td class="text-end pe-4">8,900 pts</td></tr>
                    <tr><td class="ps-4">#7</td><td>Player 74</td><td class="text-end pe-4">8,200 pts</td></tr>
                    <tr><td class="ps-4">#8</td><td>UWA_Master_2026</td><td class="text-end pe-4">7,500 pts</td></tr>
                    <tr><td class="ps-4">#9</td><td>Guild_President</td><td class="text-end pe-4">6,800 pts</td></tr>
                    <tr><td class="ps-4">#10</td><td>Barry_Marshall_Fan</td><td class="text-end pe-4">5,500 pts</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

{% endblock %}